<div class="products-container">
  <app-products-sidebar
    [viewMode]="viewMode"
    (viewModeChange)="setViewMode($event)"
    (sortChange)="onSortChange($event)"
    (filterChange)="onFilterChange($event)">
  </app-products-sidebar>
  <div class="products-content">
    <app-products-grid-view
      *ngIf="viewMode === 'grid'"
      [sortOption]="currentSort"
      [filters]="currentFilters">
    </app-products-grid-view>
    <app-products-list-view *ngIf="viewMode === 'list'"></app-products-list-view>
  </div>
</div>
