.sidebar {
  height: 100%;
  width: 300px;
  padding: 20px 40px 20px 20px;
  border: none;
  background-color: #f9f9f9;
}

.filter-section {
  margin-bottom: 30px;
}

.filter-section h6 {
  margin-bottom: 10px;
  font-size: 1rem;
  font-weight: 600;
}

.view-buttons {
  display: flex;
}

button {
  display: block;
  padding: 7px 10px;
  margin-top: 10px;
  background-color: rgb(255, 255, 255);
  border: 1px solid #ccc;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.view-icon{
  width: 20px;
  height: 20px;
  padding-bottom: 2px;

}

.grid-btn{
  border-radius: 20px 0 0 20px;
  width: 50%;
}

.list-btn{
  border-radius: 0 20px 20px 0;
  width: 50%;
}

button.active {
  background-color: rgb(255, 83, 111);
}

button.active:hover {
  background-color: rgb(255, 83, 111);
}

.filter-btn{
  font-weight: 700;
  border-radius: 20px;
  width: 100%;
}

.filter-btn:hover,
.grid-btn:hover,
.list-btn:hover {
  background-color: rgb(230, 230, 230);
}

.price-range label {
  display: block;
  margin-top: 10px;
  font-size: 0.8rem;
  font-weight: 500;
}

.price-range input[type="number"] {
  width: 100%;
  padding: 5px 15px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: 600;
  appearance: none;
}

.filter-section select {
  width: 100%;
  padding: 5px 15px;
  margin-top: 5px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  font-size: 0.8rem;
  font-weight: 600;
}

.filter-section option {
  font-size: 0.8rem;
  font-weight: 600;
  background-color: rgb(230, 230, 230);
}

.filter-section select:hover {
  background-color: rgb(230, 230, 230);
}

.filter-section option:hover {
  background-color: rgb(255, 255, 255);
}

.filter-section div {
  margin-top: 10px;
}

.filter-section input[type="checkbox"] {
  transform: scale(1.2);
  margin-right: 10px;
  border-radius: 100%;
}
