<section class="footer">
  <div class="footer-row">
    <div class="footer-col">
      <h4>Info</h4>
      <ul class="links">
        <li><a routerLink="#">About Us</a></li>
        <li><a routerLink="#">Contact Us</a></li>
        <li><a routerLink="#">Customer Reviews</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h4>Explore</h4>
      <ul class="links">
        <li><a routerLink="#">Latest Products</a></li>
        <li><a routerLink="#">Paying Options</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h4>Legal</h4>
      <ul class="links">
        <li><a routerLink="#">Customer Agreement</a></li>
        <li><a routerLink="#">Privacy Policy</a></li>
        <li><a routerLink="#">Security</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h4>Follow Us</h4>
      <div class="icons">
        <a routerLink="https://www.facebook.com/goldsgym" target="_blank">
          <img src="assets/icons-facebook.png" alt="Facebook">
        </a>
        <a routerLink="https://www.instagram.com/goldsgym" target="_blank">
          <img src="assets/icons-instagram.png" alt="Instagram">
        </a>
        <a routerLink="https://www.twitter.com/goldsgym" target="_blank">
          <img src="assets/icons-x.png" alt="Instagram">
        </a>
      </div>
    </div>
  </div>
  <div class="copy-right">
    <small>Copyright © 2024 BigMan Gym. All Rights Reserved</small>
  </div>
</section>
