<div class="load-button">
  <button class="btn left-arrow" type="button" [disabled]="currentPage === 1" (click)="previousPage()">&#8249;</button>

  <ng-container *ngFor="let page of pages">
    <button class="btn" type="button"
      *ngIf="page > 0"
      [class.active]="page === currentPage"
      (click)="onPageClick(page)">
      {{page}}
    </button>
    <p *ngIf="page === 0">...</p>
  </ng-container>

  <button class="btn right-arrow" type="button" [disabled]="currentPage === totalPages" (click)="nextPage()">&#8250;</button>

  <p class="go-text">Go to page</p>
  <input type="text" class="page-input" [(ngModel)]="goToPageNumber" min="1" [max]="totalPages">
  <button class="go-button" type="button" (click)="goToPage()">Confirm</button>
</div>
