<nav>
  <div class="container-fluid">
    <app-categories-button></app-categories-button>
    <div class="nav-btns">
      <ul>
        <li class="nav-btn" routerLinkActive="active">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li class="nav-btn" routerLinkActive="active">
          <a class="nav-link" routerLink="/products">Products</a>
        </li>
        <li class="nav-btn" routerLinkActive="active">
          <a class="nav-link" routerLink="/memberships">Memberships</a>
        </li>
        <li class="nav-btn" routerLinkActive="active">
          <a class="nav-link" routerLink="/coaches">Coaches</a>
        </li>
        <li class="nav-btn" routerLinkActive="active">
          <a class="nav-link" routerLink="/branches">Branches</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
