*{
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-fluid {
  background-color: rgb(30, 30, 30);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 80px;
  padding: 20px;
}

.logo {
  width: 200px;
  height: auto;
  margin-left: 55px;
}

.header-items {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

form input:focus {
  outline: none;
  background-color: rgb(233, 233, 233);
}

form input{
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  width: 400px;
  border: none;
  padding: 7px 20px;
  font-size: 0.9rem;
  font-weight: 600;
}

form input:hover {
  background: rgb(233, 233, 233);
  transition: .5s;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.login-section,
.wishlist-section,
.cart-section{
  display: flex;
  flex-direction: row;
  height: 30px;
  justify-content: center;
  align-items: center;
}

.login-icon,
.wishlist-icon,
.cart-icon{
  width: 30px;
  height: auto;
}

.wishlist-icon{
  filter: invert(100%);
}

.login-text{
  color: rgb(255, 255, 255);
  height: 30px;
  font-size: 0.7rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-count {
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  color: rgb(0, 0, 0);
  font-size: 0.7rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17px;
  height: 17px;;
}

.login-section:hover,
.wishlist-section:hover,
.cart-section:hover .cart-icon{
  filter: brightness(0) invert(70%) sepia(100%) hue-rotate(1deg) saturate(1000%);
}

.cart-section:hover .cart-count {
  background-color: rgb(255, 208, 0);
}
