<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a href="/home"><img src="assets/BIG-MAN GYM logo.png" alt="logo" class="logo" /></a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <form class="d-flex" role="search">
        <input class="form-control" type="search" placeholder="What are you looking for?">
      </form>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="/login"><img src="assets/icon-login.png" alt="login icon" class="login-icon" /></a>
        </li>
        <li class="nav-item">
          <a href="/wishlist"><img src="assets/icon-wishlist.png" alt="wishlist icon" class="wishlist-icon" /></a>
        </li>
        <li class="nav-item">
          <a href="/cart">
            <img src="assets/icon-cart.png" alt="cart icon" class="cart-icon" />
            <span class="cart-count">{{cartCount}}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
