<div class="card">
  <div class="card-body">
    <a href="/coaches/{{card.id}}" target="_blank">
      <img alt="product image" src="{{ card.imageUrl }}" />
      <h5>{{ card.name }}</h5>
      <app-star-rating class="rate-stars" [rating]="coachService.calcAverageRating(card)" [ratersNo]="coachService.calcRatersNumber(card)"></app-star-rating>
      <h6>Experience: {{ card.experiance }}</h6>
      <div class="coach-salary" *ngIf="card.discountPrecent">
        <p class="discounted-text">{{card.discountPrecent}}% OFF</p>
        <p class="original-price">{{card.salary | currency: 'EGP'}}</p>
        <p class="discounted-price">{{(card.salary - (card.salary * card.discountPrecent) / 100) | currency: 'EGP'}}</p>
      </div>
      <div class="coach-salary" *ngIf="!card.discountPrecent">
        <p class="discounted-price">{{card.salary | currency: 'EGP'}}</p>
      </div>
    </a>
    <button class="btn btn-success">Book</button>
  </div>
</div>
