.card {
  top: 100%;
  flex: 0 0 auto;
  margin: 0px 10px;
  border-radius: 5%;
  width: 200px;
  height: 310px;
}

.card:hover {
  height: 340px;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-radius: 5%;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(240, 240, 240);
}

a {
  color: inherit;
  text-decoration: none;
}

.rate-stars, h5, h6{
  text-align: left;
  color:#000000;
  text-decoration: none;
  text-overflow: ellipsis;
}

h6{
  margin: 7px 0px;
}

h5{
  font-size: 1rem;
  font-weight: 600;
  color: #000000;
  margin-top: 10px;
  margin-bottom: 0px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 170px;
}

h6{
  font-size: 0.8rem;
  font-weight: 600;
}

img {
  display: block;
  margin: 0 auto;
  width: 130px;
  height: 130px;
  border-radius: 50%;
}

.coach-salary{
  font-weight: bold;
}

.original-price {
  font-size: 0.7rem;
  color: #c0392b;
  text-decoration: line-through;
  margin-bottom: 0px;
}

.discounted-price {
  font-size: 0.9rem;
  color: #000000;
  font-weight: bold;
}

.discounted-text{
  font-size: 0.6rem;
  font-weight: 700;
  color: #c0392b;
  margin: 0;
}

.card-body button{
  display: none;
  background-color: rgb(43, 43, 43);
  margin: 0px;
  border: none;
  border-radius: 20px;
  font-size: small;
  font-weight: 600;
  padding: 10px 35px;
  bottom: 10px;
  position: absolute;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.card-body:hover button {
  display: block;
}

.card-body button:hover{
  background-color: rgb(185, 185, 185);
  color: black;
}
