<div class="card">
  <div class="prod-card">
    <a href="/product/{{card.id}}">
      <img alt="img" src="{{ card.imageUrl[0]}}" />
    <div class="prod-info">
      <p class="prod-name">{{ card.name }}</p>
      <app-star-rating class="rate-stars" [prodCard]="card"></app-star-rating>
      <p class="prod-description">{{ card.description }}</p>
    </div>
    </a>
    <div class="prod-payment">
      <a href="/product/{{card.id}}">
        <div class="prod-price" *ngIf="card.discountPrecent">
          <p class="original-price">{{card.price | currency: 'EGP'}}</p>
          <p class="discounted-price">{{(card.price - (card.price * card.discountPrecent) / 100) | currency: 'EGP'}}</p>
          <p class="discounted-text">{{card.discountPrecent}}% OFF for limited time</p>
        </div>
        <div class="prod-price" *ngIf="!card.discountPrecent">
          <p class="discounted-price">{{card.price | currency: 'EGP'}}</p>
        </div>
      </a>
      <button class="cart-btn" (click)="openModal()">Add To Cart</button>
      <img class="fav-icon" *ngIf="!card.isFav" (click)="addToWishlist(card)" alt="icon" src='assets/icon-wishlist.png'>
      <img class="fav-icon" *ngIf="card.isFav" (click)="removeFromWishlist(card)" alt="icon" src='assets/icon-wishlist-filled.png'>
    </div>
  </div>
</div>

<app-product-modal [isOpen]="isModalProdOpen" [card]="card" (close)="closeProdModal()"></app-product-modal>
<app-login-modal [isOpen]="isModalLoginOpen" (close)="closeLoginModal()"></app-login-modal>
