<div class="sidebar">
  <div class="filter-section">
    <h6>View</h6>
    <div class="view-buttons">
      <button class="grid-btn" [ngClass]="{'active': viewMode === 'grid'}" (click)="changeViewMode('grid')">
        <img src="assets/icon-gridView.png" alt="grid icon" class="view-icon" />
        Grid
      </button>
      <button class="list-btn" [ngClass]="{'active': viewMode === 'list'}" (click)="changeViewMode('list')">
        <img src="assets/icon-listView.png" alt="list icon" class="view-icon" />
        List
      </button>
    </div>
    <hr />
  </div>
  <div class="filter-section">
    <h6>Sort By</h6>
    <select>
      <option value="experience">Experience</option>
      <option value="rating">Rating</option>
      <option value="price-low">Price: Low to High</option>
      <option value="price-high">Price: High to Low</option>
      <option value="newest">Newest</option>
    </select>
  </div>
</div>
