<div class="modal" *ngIf="isOpen">
  <div class="close-modal">
    <span class="close-btn" (click)="closeModal()">&times;</span>
  </div>
  <div class="modal-content">
    <div class="img-section">
      <div class="prod-img">
        <img alt="product image" [src]="chosenImg">
      </div>
      <div class="imgs-container">
        <span class="arrow left-arrow" aria-label="Scroll left" (click)="scroll('left')">&#8249;</span>
        <div class="imgs-wrapper" #imgsWrapper appHorizontalScroll>
          <ng-container *ngFor="let img of card.imageUrl">
            <img class="imgs-on-list" alt="product image" (mouseenter)="chooseImg(img)" src={{img}}>
          </ng-container>
        </div>
        <span class="arrow right-arrow" aria-label="Scroll right" (click)="scroll('right')">&#8250;</span>
      </div>
    </div>
    <div class="details-section">
      <div class="prod-info">
        <p class="prod-name">{{ card.name }}</p>
        <app-star-rating class="rate-stars" [rating]="prodService.calcAverageRating(card)" [ratersNo]="prodService.calcRatersNumber(card)"></app-star-rating>
      </div>
      <div class="prod-payment">
          <div class="prod-price" *ngIf="card.discountPrecent">
            <p class="discounted-price">{{(card.price - (card.price * card.discountPrecent) / 100) | currency: 'EGP'}}</p>
            <p class="original-price">{{card.price | currency: 'EGP'}}</p>
            <p class="discounted-text">{{card.discountPrecent}}% OFF for limited time</p>
          </div>
          <div class="prod-price" *ngIf="!card.discountPrecent">
            <p class="discounted-price">{{card.price | currency: 'EGP'}}</p>
          </div>
      </div>
      <hr>
      <div class="prod-data">
        <div class="prod-color" *ngIf="card.color">
          <p class="color-label">Color: {{chosenColor.toUpperCase()}}</p>
          <div class="color-btns-container">
            <ng-container *ngFor="let color of visibleColors">
              <button class="color-btn" (click)="chooseColor(color)" [class.active]="chosenColor === color">{{color}}</button>
            </ng-container>
            <span class="show-more-btns" *ngIf="card.color.length > 10 && !showAllColors" (click)="showMoreColors()">View more &#x25BC;</span>
          </div>
        </div>
        <div class="prod-size" *ngIf="card.size">
          <p class="size-label">Size: {{chosenSize.toUpperCase()}}</p>
          <div class="size-btns-container">
            <ng-container *ngFor="let size of visibleSizes">
              <button class="size-btn" (click)="chooseSize(size)" [class.active]="chosenSize === size">{{size}}</button>
            </ng-container>
            <span class="show-more-btns" *ngIf="card.size.length > 10 && !showAllSizes" (click)="showMoreSizes()">View more &#x25BC;</span>
          </div>
        </div>
      </div>
    </div>
    <div class="payment-section">
      <div class="delivary">
        <p class="payment-labels">Delivery</p>
        <ng-container *ngIf="card.freeShipping">
          <p class="shipping-fees">Free Shipping</p>
        </ng-container>
        <ng-container *ngIf="!card.freeShipping">
          <ng-container *ngIf="card.shippingPrice == 0">
            <p class="shipping-fees">Shipping Fees: <span>{{prodService.lowShippingPrice| currency: 'EGP'}}</span></p>
          </ng-container>
          <ng-container *ngIf="card.shippingPrice == 1">
            <p class="shipping-fees">Shipping Fees: <span>{{prodService.highShippingPrice| currency: 'EGP'}}</span></p>
          </ng-container>
        </ng-container>
        <p class="delivery-date">
          Delivery: <span>{{ deliveryStartDate | date: 'MMM d' }}</span> - <span>{{ deliveryEndDate | date: 'MMM d' }}</span>
        </p>
      </div>
      <hr>
      <div class="services">
        <p class="payment-labels">Services</p>
        <p class="return-text-header">Buyer Protection</p>
        <ng-container *ngIf="card.returnable">
          <img class="protection-icon" alt="icon" src="assets/icon-protection.png">
          <span class="return-text-body">Get full refund if the item is not as described or if is not delivered.</span>
        </ng-container>
        <ng-container *ngIf="!card.returnable">
          <p class="return-text-body">This item is not refundable.</p>
        </ng-container>
      </div>
      <hr>
      <div class="quantity">
        <p class="payment-labels">Quantity</p>
      </div>
      <div class="quantity-buttons">
        <button (click)="decrementQuantity()">&#x207B;</button>
        <span>{{quantityNo}}</span>
        <button (click)="incrementQuantity()">&#8314;</button>
      </div>
      <div class="cart-btn">
        <button class="add-to-cart-btn" (click)="addToCart(card)">Add To Cart</button>
      </div>
      <div class="details-fav-btns">
        <a href="/products/{{card.id}}" target="_blank"><button class="view-details-btn">View Details</button></a>
        <button class="fav-btn" *ngIf="!card.isFav" (click)="addToWishlist(card)"><img class="fav-icon" alt="icon" src='assets/icon-wishlist-black.png'></button>
        <button class="fav-btn" *ngIf="card.isFav" (click)="removeFromWishlist(card)"><img class="fav-icon" alt="icon" src='assets/icon-wishlist-filled-black.png'></button>
      </div>
    </div>
  </div>
</div>
