.reviews-section {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reviews-container {
  display: flex;
  flex-direction: row;
  max-width: 800px;
  border: 1px solid #929292;
  border-radius: 20px;
  padding: 20px;
  justify-content: center;
}

.reviews-statistics{
  width: 300px;
}

.reviews-label {
  font-size: 1.5rem;
  font-weight: bold;
}

.total-ratings-box {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(231, 231, 231);
  border-radius: 20px;
  padding: 20px;
  margin-left: 50px;
}

.total-ratings-box p {
  margin: 0px;
}

.total-ratings-box .average-rating {
  font-size: 1.7rem;
  font-weight: 700;
  color: #000000;
}

.total-ratings-box .ratings-count {
  font-size: 0.9rem;
  color: #000000;
}

.rating-bars {
  margin-top: 20px;
  padding-left: 10px;
  width: 100%;
}

.rating-bar {
  display: flex;
  align-items: center; /* Keep items vertically centered */
  justify-content: space-between; /* Ensure space is distributed between items */
  margin-bottom: 10px; /* Add space between rating bars */
}

.order-label {
  font-weight: 600;
  font-size: 1rem;
  margin-right: 5px;
  width: 30px;
  text-align: center;
}

.star-label {
  font-size: 1.2rem;
  margin-right: 5px;
}

.count-label {
  font-size: 0.7rem;
  margin-right: 10px;
  width: 40px;
}

.bar-wrapper {
  background-color: rgb(190, 190, 190);
  width: 60%;
  border-radius: 20px;
  height: 10px;
  margin-left: 10px;
  display: inline-block;
  position: relative; /* Ensure the bar is positioned inside the wrapper */
}

.bar {
  border-radius: 20px 0px 0px 20px;
  background-color: #000000;
  height: 100%; /* Make sure the bar takes full height of the wrapper */
  position: absolute;
  left: 0;
}


.reviews-view {
  padding: 10px;
  width: 450px;
}

.review-text {
  font-size: 1rem;
  font-weight: 500;
}

.review-date {
  font-size: 0.8rem;
  font-weight: 500;
}

.show-more-btn {
  color: rgb(0, 0, 0);
  font-size: 0.9rem;
  font-weight: 800;
  cursor: pointer;
  display: grid;
  width: 100px;
}
