<div class="card">
  <div class="card-body">
    <a routerLink="/product/{{card.id}}">
      <img alt="product image" [src]="apiUrl + card.images[0].url">
      <h5>{{card.name}}</h5>
      <app-star-rating class="rate-stars" [prodCard]="card"></app-star-rating>
      <div class="coach-salary" *ngIf="card.discountPrecent">
        <p class="discounted-text">{{card.discountPrecent}}% OFF</p>
        <p class="original-price">{{card.price | currency: 'EGP'}}</p>
        <p class="discounted-price">{{(card.price - (card.price * card.discountPrecent) / 100) | currency: 'EGP'}}</p>
      </div>
      <div class="coach-salary" *ngIf="!card.discountPrecent">
        <p class="discounted-price">{{card.price | currency: 'EGP'}}</p>
      </div>
    </a>
    <div class="button-group">
      <img class="icon fav-icon" *ngIf="!isInWishlist(card)" (click)="addToWishlist(card)" alt="icon" src='assets/icon-wishlist.png'>
      <img class="icon fav-icon" *ngIf="isInWishlist(card)" (click)="removeFromWishlist(card)" alt="icon" src='assets/icon-wishlist-filled.png'>
      <button class="btn btn-success" (click)="openModal()">
        <img class="icon cart-icon" alt="icon" src='assets/icon-toCart.png'>
      </button>
    </div>
  </div>
</div>

<app-product-modal [isOpen]="isModalProdOpen" [card]="card" (close)="closeProdModal()"></app-product-modal>
<app-login-modal [isOpen]="isModalLoginOpen" (close)="closeLoginModal()"></app-login-modal>
