.empty-wishlist {
  background-color: rgb(240, 240, 240);
  height: 450px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.empty-wishlist-image{
  width: 200px;
  height: auto;
}

.empty-wishlist-btn{
  margin-top: 30px;
  border: none;
  border-radius: 20px;
  padding: 10px 90px;
  background-color: rgb(255, 187, 0);
  color: rgb(0, 0, 0);
  font-size: 1rem;
  font-weight: 700;
}

.empty-wishlist-btn:hover{
  background-color: rgb(240, 156, 0);
}

.empty-wishlist-text{
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 20px;
}

.filled-wishlist {
  background-color: rgb(255, 255, 255);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

table{
  margin-top: 20px;
}

hr{
  margin-top: 1px;
}
