<div class="body">
  <div class="empty-wishlist" *ngIf="wishlistItems.length === 0">
    <img src="assets/icon-empty-wishlist.png" alt="Empty Wishlist" class="empty-wishlist-image">
    <p class="empty-wishlist-text">You haven’t saved an item yet!</p>
    <a routerLink="/products"><button class="empty-wishlist-btn">Continue Shopping</button></a>
  </div>
  <div class="filled-wishlist">
    <table>
      <tbody>
        <tr *ngFor="let item of wishlistItems">
          <td>
            <app-product-list-card [card]="this.getProdByItem(item)"></app-product-list-card>
            <hr>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="products-list">
    <app-product-carousel [textOnList]="textOnList" [products]="prodsList"></app-product-carousel>
  </div>
</div>
