<!--
<div class="cards-container">
  <div class="page-title">
    <p>Inbox Messages</p>
  </div>
  <div class="card" *ngFor="let message of messages">
    <p class="message-date">{{message.date.day}}-{{message.date.month}}-{{message.date.year}}</p>
    <p class="message-title">{{message.title}}</p>
    <p class="message-text">{{message.message}}</p>
    <div class="attached-product" *ngIf="message.product">
      <img [src]="message.product.imageUrl[0]" alt="product image"/>
      <p class="prod-name">{{message.product.name}}</p>
    </div>
    <div class="attached-coach" *ngIf="message.coach">
      <img [src]="message.coach.imageUrl" alt="coach image"/>
      <p class="coach-name">{{message.coach.name}}</p>
    </div>
  </div>
  <span class="show-more-btn">View more &#x25BC;</span>
</div>
-->
